.app-background {
	background-color: rgba(255, 136, 172, 0.3);
	height: 100%;
	display: grid;
	grid-gap: 10px;
	grid-template-rows: min-content 1fr;

}

.app-wrapper {
	/*background-color: rgba(255, 136, 172, 0.2);*/
	/*margin-top: 10px;*/
	margin-left: 10%;
	margin-right: 10%;
	/*height: 100%;*/
	
	display: grid;

	grid-template-rows: 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
}

.app-wrapper div {
	/*background-color: rgba(255, 136, 172, 0.25);*/
}

.Title {
	font-size: larger;
}

.content {

	display: grid;
	grid-gap: 10px;
}