.app-wrapper {
	/* background-color: rgba(255, 136, 172, 0.25); */
	
	margin: 0 10%;
	height: 100%;
	
	display: grid;
	
	grid-template-areas:
	"h h"
	"n c";
	
	grid-template-rows: 60px 1fr 48px;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
}

.app-wrapper div {
	background-color: rgba(255, 136, 172, 0.25);
	/*background-color: rgba(0, 0, 0, 0.10);*/
}

.Title {
	font-size: larger;
}

.app-wrapper-content {
	grid-area: c;

	display: grid;
	grid-gap: 10px;
}