.Chat {
    /*border: 1px rgb(177, 39, 80) solid;*/
    /*padding: 10px;*/
    display: grid;
    grid-gap: 2px;
    grid-template-rows: 60px 1fr 60px;

}

.Box {
    background-color: rgba(255, 255, 255, 0.9);
}

.ChatHistory {
    padding: 10px;
    align-content: end;
    display: grid;
    grid-gap: 20px;
}



.NewMessage{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr min-content;
}

.NewMessage textarea {
    background-color: rgba(255, 255, 255, 1);
    border: rgba(255, 136, 172, 0.5) 1px solid;
    border-radius: 10px;

}

.send {
    background-color: rgba(255, 255, 255, 0);
    font-size:large;
    color: rgba(255, 136, 172, 1);
    padding: 0;
    grid-column-start: 2;
}