.Navbar {
	padding-left: 10px;
	align-self: start;
	/*background-color:rgba(255, 136, 172, 0.75);*/
}

.Settings {
	margin-top: 1em;
}

a{
	color: rgb(177, 39, 80);
	text-decoration: none;
}

a.active {
	/*text-decoration: underline;*/
	color: white;
}

a:hover {
	color: white;
}
