.Navbar {
	padding: 10px;
	grid-area: n;
	align-self: start;
	background-color:rgba(255, 136, 172, 0.75);
}

.Settings {
	margin-top: 1em;
}

a{
	color: white;
	text-decoration: none;
}

a.active {
	color: rgb(177, 39, 80);
}

a:hover {
	/*color: rgb(177, 39, 80);*/
	color: brown;
}
